.pos-receipt .pos-receipt-pre-qr-code {
    text-align: center;
    font-size: 75%;
}

.pos-receipt .pos-receipt-order-data-new {
    text-align: center;
    font-size: 75%;
}

.pos-receipt .pos-receipt-order-data {
    display: none;
}

.pos-receipt .receipt-change {
    display: none;
}